{% load static %}
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ericam_">

    <!-- CSS -->
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}">
    <!-- Custom styles for our template -->
    <link rel="shortcut icon" href="{% static 'blog/images/gt_favicon.png' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap-theme.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/log.css' %}">
</head>

<body class="back">
<script src="/static/blog/js/jquery.min.js"></script>
<!--导航栏-->
<div class="navbar navbar-inverse navbar-fixed-top headroom">
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                {#				  <a class="navbar-brand"><img src="{%static 'blog/css/images/lo.png' %}" alt="Progressus HTML5 template"></a>#}
            </div>

            <ul class="nav navbar-nav navbar-right">
                {{% block li %}{% endblock %}

            </ul>
        </div>
    </div>
</div>
{% block div %}{% endblock %}
<center>
    <div class="container" style="padding-top:300px;min-height:800px">
        <div class="row">,.
            {% block p %}{% endblock %}
        </div>
    </div>
</center>
<script>
    window.localStorage.setItem('token','{{ token }}')
</script>

{#   <footer id="footer" class="top-space">#}
{#		<div class="footer2">#}
{#			<div class="container">#}
{#				<p class="text-center">Copyright &copy; 2020, Ericamblog</p>#}
{#			</div>#}
{#		</div>#}
{#  </footer>#}
</body>
</html>
