{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="shortcut icon" href="{% static 'blog/images/gt_favicon.png' %}">
    <link rel="stylesheet" href="{% static 'blog/css/log.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/semantic.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}">
</head>
<body class="login">
<div class="ui center aligned grid" style="margin-top: 200px">
    <div class="ui six wide column">
        <h1 class="ui teal header">Bob blog-登录</h1>
        <div class="ui segment">
            <div class="ui content">
                <form class="ui large form" method="post" action="{% url 'blog:login' %}">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <input type="text" name="username" placeholder="请输入用户名">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <input type="password" name="password" placeholder="请输入密码">
                            </div>
                        </div>
                        <p><font color=orange>{{ error }}</font></p>
                        <br>
                        <a class="pull-right field" href="{% url 'blog:forget' %}">忘记密码</a>
                        <button class="ui fluid large teal button" type="submit">登陆</button>
                        <input type="hidden" name="next" value="{{ next }}">
                    </div>

                    <div class="ui error message"></div>
                </form>
                <button class="ui fluid large teal button" onclick="tz()">立即注册</button>

                <script>

                    function tz() {
                        window.location.href = '{% url "blog:register" %}';
                    }

                </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>
